$columnWidth: 20em;
$tableWidthResponseThreshold: 715;
$tableBackgroundColor: hsl(210, 100%, 80%);
$tableBackgroundColorLighter: change-color($tableBackgroundColor, $saturation: 25%, $lightness: 30%, $alpha: 1);
$tableBackgroundColorDarker: change-color($tableBackgroundColor, $saturation: 25%, $lightness: 20%, $alpha: 1);
$break-positions: (before after);
$page-break-values: (auto left right avoid always);
$break-values: (auto avoid avoid-page page left right recto verso avoid-column column avoid-region region);

$textColorLightTheme: hsl(0, 0%, 0%);
$textColorDarkTheme: hsl(0, 0%, 100%);

$linkColorLight: hsl(207, 60%, 50%);
/*$linkColorLightHover: hsl(207, 100%, 30%);*/
$linkColorLightHover: scale-color($linkColorLight, $saturation: 100%, $lightness: -40%);
/*$linkColorLightHover: hsl(207, 100%, 30%);*/
/*$linkColorDark: hsl(196, 73%, 50%);*/
/*$linkColorDark: hsl(181, 100%, 61%);*/
/*$linkColorDark: hsl(212, 56%, 49%);*/
$linkColorDark: hsl(196, 73%, 50%);
/*$linkColorDarkHover: hsl(196, 100%, 37%);*/
$linkColorDarkHover: scale-color($linkColorDark, $lightness: 60%);

@mixin prefix($name, $values...) {
	-webkit-#{$name}: $values;
	-moz-#{$name}: $values;
	-ms-#{$name}: $values;
	-o-#{$name}: $values;
	#{$name}: $values;
}

@mixin media-width-max($max) {
	@if unitless($max) {
		$max: #{$max}px;
	}
	@media (max-width: $max) {
		@content;
	}
}

@mixin supports($property, $value) {
	@supports (-webkit-#{$property}: $value) or ($property: $value) {
		@content;
	}
}

@mixin supports-backdrop {
	@include supports(backdrop-filter, blur(2px)) {
		@content;
	}
}

@mixin backdrop-blur($value) {
	@include supports-backdrop {
		@include prefix(backdrop-filter, blur($value));
	}
}
