@import "_common";

@media print {
	thead {
		> tr {
			page-break-inside: avoid;
			break-inside: avoid;
			page-break-after: auto;
			break-after: auto;
		}
	}
	.project-title,
	.section-heading,
	.employer-title {
		page-break-after: avoid;
		break-after: avoid;
	}
	.project-description {
		page-break-before: avoid;
		break-before: avoid;
		span.project-link {
			text-align: left;
		}
	}
	.project-item {
		border-radius: 0 !important;
		.ui-collapsible-content {
			border-bottom-width: 0;
			&.ui-collapsible-content-collapsed {
				display: block;
			}
		}
	}
	li, tr, td, th {
		page-break-inside: avoid;
		break-inside: avoid;
	}
	table.skills {
		border-style: none;
		caption {
			display: table-caption;
		}
		thead > tr > th > .data {
			margin-right: 0;
			&::after {
				content: none;
			}
		}
		&, th, td {
			border: 1px solid hsl(0, 0%, 87%) !important;
		}
	}
	* {
		&, &::before, &::after {
			background-image: none !important;
			background-color: initial !important;
			text-shadow: none !important;
			color: hsl(0, 0%, 10%) !important;
		}
		&.ui-header {
			border-color: hsl(0, 0%, 87%) !important
		}
	}
	#tabs-nav, #tab-panel-code, .ui-tooltip {
		display: none !important;
	}
	.ui-page-theme-a,
	html .ui-bar-a,
	html .ui-body-a,
	html body .ui-group-theme-a,
	.ui-page-theme-b,
	html .ui-bar-b,
	html .ui-body-b,
	html body .ui-group-theme-b {
		a:hover {
			&::before, &::after {
				color: $textColorLightTheme;
			}
		}
	}
	body {
		> .ui-page.ui-page-active {
			box-shadow: none;
			> main > .main-inner {
				display: flex;
				flex-direction: column;
				div.skills .skill {
					color: inherit;
				}
				.tab-panel {
					&:not(#tab-panel-code) {
						page-break-before: always;
						break-before: page;
						page-break-after: always;
						break-after: page;
						display: flex !important;
						&:not(#tab-panel-skills) {
							max-width: none !important;
						}
					}
					&#tab-panel-resume {
						order: 1;
						margin-top: 0;
					}
					&#tab-panel-skills {
						order: 2;
						margin-left: 0;
						margin-right: 0;
						max-width: none;
					}
					&#tab-panel-code {
						order: 3;
					}
				}
				#skill-categories {
					label[for="categories"] {
						display: none;
						+ .ui-select {
							display: none;
						}
					}
				}
			}
		}
	}
}
