@import "_common";

$competencyPrintColumns: 2;
$skillPrintColumns: 2;
$certificationPrintColumns: 2;
$break-positions: (before after);
$page-break-values: (auto left right avoid always);
$break-values: (auto avoid avoid-page page left right recto verso avoid-column column avoid-region region);

@media print {
  @page {
    size: portrait;
    margin-left: 0;
    margin-right: 0;
  }
  //* {
  //  position: relative;
  //  &::before {
  //    content: '';
  //    position: absolute;
  //    border: 1px solid black;
  //    top: 0;
  //    bottom: 0;
  //    left: 0;
  //    right: 0;
  //  }
  //}
  .hide-when-print {
    display: none;
  }
  thead {
    > tr {
      page-break-inside: avoid;
      break-inside: avoid;
      page-break-after: auto;
      break-after: auto;
    }
  }

  @each $break-position in $break-positions {
    @each $break-value in $page-break-values {
      .page-break-#{$break-position}-#{$break-value} {
        page-break-#{$break-position}: $break-value;
        @if index(auto left right, $break-value) {
          break-#{$break-position}: $break-value;
        } @else if $break-value == avoid {
          break-#{$break-position}: avoid-page;
        } @else if $break-value == always {
          break-#{$break-position}: page;
        }
      }
    }
  }

  @each $break-position in $break-positions {
    @each $break-value in $break-values {
      .break-#{$break-position}-#{$break-value} {
        break-#{$break-position}: $break-value;
        @if index(auto left right, $break-value) {
          page-break-#{$break-position}: $break-value;
        } @else if $break-value == avoid-page {
          page-break-#{$break-position}: avoid;
        } @else if $break-value == page {
          page-break-#{$break-position}: always;
        }
      }
    }
  }

  code {
    &.snippet {
      border-style: none;
    }
  }

  .section-heading, .project-heading, .project-title {
    page-break-after: avoid;
    break-after: avoid;
  }
  .section-content:last-child {
    margin-bottom: 0;
  }
  .position-container {
    margin-bottom: 1em;
    &:first-child {
      &, & > .position-header {
        margin-top: 0.5em;
      }
    }
  }
  .position-header {
    &::before, &::after {
      content: none;
    }
  }
  .project-item {
    border-radius: 0 !important;

    page-break-inside: avoid;
    break-inside: avoid;

    .ui-collapsible-content {
      border-bottom-width: 0;

      &.ui-collapsible-content-collapsed {
        display: block;
      }
    }
  }
  li, tr, td, th {
    page-break-inside: avoid;
    break-inside: avoid;
  }
  table.skills {
    border-style: none;

    caption {
      display: table-caption;
    }

    thead > tr > th > .data {
      margin-right: 0;

      &::after {
        content: none;
      }
    }

    &, th, td {
      border: 1px solid hsl(0, 0%, 87%) !important;
    }
  }
  * {
    &, &::before, &::after {
      background-image: none !important;
      background-color: initial !important;
      text-shadow: none !important;
      color: hsl(0, 0%, 10%) !important;
    }

    &.ui-header {
      border-color: hsl(0, 0%, 87%) !important
    }
  }
  #tabs-nav, #tab-panel-code, .ui-tooltip {
    display: none !important;
  }
  .ui-page-theme-a,
  html .ui-bar-a,
  html .ui-body-a,
  html body .ui-group-theme-a,
  .ui-page-theme-b,
  html .ui-bar-b,
  html .ui-body-b,
  html body .ui-group-theme-b {
    a:hover {
      &::before, &::after {
        color: $textColorLightTheme;
      }
    }
  }
  *[role="log"] {
    display: none;
  }
  abbr[title][data-expanded] {
    > .text {
      display: none;
    }
    &::after {
      content: attr(title);
    }
  }
  body {
    > .ui-page.ui-page-active {
      position: static;
      box-shadow: none;

      > main {
        padding-bottom: 0;
        > .main-inner {
          display: flex;
          flex-direction: column;

          div.skills .skill {
            color: inherit;
          }

          .tab-panel {
            padding: 0 !important;

            &:not(#tab-panel-code) {
              page-break-before: always;
              break-before: page;
              page-break-after: always;
              break-after: page;
              display: flex !important;

              &:not(#tab-panel-skills) {
                max-width: none !important;
              }
            }

            &#tab-panel-resume {
              order: 1;
              margin-top: 0;
            }

            &#tab-panel-skills {
              order: 2;
              margin-left: 0;
              margin-right: 0;
              max-width: none;
              display: none !important;
            }

            &#tab-panel-code {
              order: 3;
              display: none;
            }
          }

          #skill-categories {
            display: none;
          }
        }
      }
    }
  }
  .ui-collapsible {
    .ui-collapsible-heading {
      .ui-collapsible-heading-toggle {
        &.ui-btn-icon-left {
          padding-left: 1em !important;
        }

        &.ui-btn-icon-right {
          padding-right: 1em !important;
        }
      }
    }

    .ui-collapsible-heading-toggle, .ui-collapsible-content {
      border-color: hsla(0, 0%, 0%, 0) !important;
    }
  }
  .ui-page.ui-page-active.ui-page-header-fixed {
    padding-top: 0 !important;

    > header.ui-header.ui-header-fixed {
      display: none;
    }
  }

  .technology-stack-container {
    page-break-before: avoid;
    break-before: avoid;
  }

  ul, ol {
    &.skills.as-list {
      -webkit-column-count: $skillPrintColumns;
      -moz-column-count: $skillPrintColumns;
      column-count: $skillPrintColumns;
      -webkit-column-width: auto;
      -moz-column-width: auto;
      column-width: auto;
    }
  }

  .competency-list {
    -webkit-column-count: $competencyPrintColumns;
    -moz-column-count: $competencyPrintColumns;
    column-count: $competencyPrintColumns;
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;
  }

  .certificate-list {
    -webkit-column-count: $certificationPrintColumns;
    -moz-column-count: $certificationPrintColumns;
    column-count: $certificationPrintColumns;
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;
  }

  //a[href]:not([href^="#"]) {
  //	&:not(.project-link):not(.author-contact-info) {
  //		&::after {
  //			content: " [" attr(href) "]";
  //			font-size: 0.9em;
  //		}
  //	}
  //}
}
