@import "_common";

body {
	tab-size: 2;
}

@media screen {
	.ui-page.ui-page-active {
		&.ui-page-theme-b {
			box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.5);
		}
		padding-bottom: 3em;
	}
}

#tabs-nav {
	display: flex;
	justify-content: center;
	margin: 0.5em 0 2em;
	label[for="tab-code"] {
		font-family: 'Courier New', monospace;
	}
}

.tab-panel {
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	box-sizing: border-box;
	&:not(#tab-panel-skills) {
		border-radius: 1em;
		&.final-rendering {
			@media screen {
				border: 1px solid hsla(0, 0%, 0%, 0);
			}
		}
		.ui-page-theme-a & {
			@media screen {
				&.final-rendering {
					box-shadow: 0px 0px 1.2em 0px hsla(0, 0%, 0%, 0.5);
					border-color: $textColorLightTheme;
				}
			}
		}
		.ui-page-theme-b & {
			&.final-rendering {
				background-color: $tableBackgroundColorLighter;
			}
		}
	}
	> p:nth-child(-n+2) {
		margin-top: 0;
		text-align: center;
	}
	&:not(.data-loaded) {
		.show-when-data-loaded {
			display: none;
		}
	}
}

#tab-panel-resume.final-rendering {
	padding: 1em;
}

@media screen {
	#tab-panel-resume.final-rendering, #tab-panel-code.data-loaded code.hljs {
		.ui-page-theme-a & {
			background: hsl(0, 0%, 94%);
		}
	}
}

#tab-panel-resume, #tab-panel-skills {
	&.final-rendering {
		max-width: 50em;
		margin-left: auto;
		margin-right: auto;
	}
}

#tab-panel-skills {
	&:not(.final-rendering) {
		#skill-categories, #skills-table {
			display: none;
		}
	}
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

span.github-link {
	font-size: 0.75em;
	margin-top: 0.5em;
	padding: 0.5em 0.8em;
	border-radius: 0.5em;
	border: 1px solid hsla(0, 0%, 0%, 0);
	.ui-page-theme-a & {
		border-color: hsl(0, 0%, 80%);
		background-color: hsl(0, 0%, 94%);
	}
	.ui-page-theme-b & {
		background-color: hsl(209, 50%, 30%);
	}
}

.code-container {
	.ui-page-theme-a & {
		box-shadow: 0px 0px 0.4em 0px hsla(0, 0%, 0%, 0.7);
	}
	.ui-page-theme-b & {
		box-shadow: 0px 0px 1em 0px hsla(0, 0%, 100%, 0.7);
		text-shadow: 0px 1px 0px #111;
	}
	border-radius: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	code {
		border-radius: inherit;
	}
}

pre.code-container {
	white-space: pre-wrap;
	word-break: break-word;
	border: 1px solid hsla(0, 0%, 0%, 0);
	.ui-page-theme-b & {
		border-color: hsla(0, 0%, 0%, 0.7);
	}
	code {
		> .hljs-comment:nth-child(-n+3) {
			display: none;
		}
	}
}

#categories-button > span:first-child::before {
	content: 'Category: ';
}

#select-code-container {
	/*display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;*/
	label {
		margin-right: 0.5em;
	}
}

#highlight-theme-picker-container {
	display: none;
	justify-content: flex-end;
	align-items: baseline;
	label {
		margin-right: 0.5em;
	}
}

.separator {
	&::before {
		font-weight: bold;
		content: "\A0\2022\A0";
	}
}

.section-heading {
	margin: 1em 0;
	font-weight: bold;
	font-size: 1.3em;
}

.section-content {
	margin: 1em;
}

.header {
	font-weight: bold;
}

.ui-header {
	&, .ui-footer {
		.ui-title {
			margin-left: 1em;
			margin-right: 1em;
		}
	}
	.ui-title[data-short-text] {
		> .text {
			display: none;
		}
		&::before {
			content: attr(data-short-text);
		}
		@media (min-width: 28em) {
			> .text {
				display: inline;
			}
			&::before {
				content: none;
			}
		}
	}
}

@media (min-width: 28em) {
	main.ui-content {
		> .main-inner {
			> .author-name {
				display: none;
			}
			#tabs-nav {
				margin-top: 1em;
			}
		}
	}
}

div.skills {
	.skill {
		cursor: default;
		&[aria-describedby] {
			color: hsl(196, 100%, 37%);
		}
	}
	.skills-group-relevant, .skills-group-others {
		&::before {
			display: block;
			font-weight: bold;
			margin-top: 1em;
			margin-bottom: 0.25em;
		}
	}
	.skills-group-relevant {
		&::before {
			content: 'Relevant Skills:';
		}
	}
	.skills-group-others {
		&::before {
			content: 'More Skills:';
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	&.author-name {
		text-align: center;
		margin-top: 0.5em;
	}
}

.author {
	text-align: center;
	a {
		&, &:visited {
			text-decoration: none;
		}
	}
	address {
		display: inline;
		font-style: normal;
	}
	.author-contact-info:not(.author-address) {
		white-space: nowrap;
	}
}

.employer-title {
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
}

.position-container {
	margin-top: 1em;
	page-break-before: always;
}

.position-title {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	font-weight: bold;
}

.position-description {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.projects-container {
	margin-left: 1.5em;
	margin-top: 0.3em;
}

.project-title {
	display: list-item;
	.project-title-text {
		font-weight: bold;
	}
	a {
		text-decoration: none;
		font-weight: normal;
		&.project-link {
			&::before {
				content: '[';
			}
			&::after {
				content: ']';
			}
			&::before, &::after {
				@media screen {
					.ui-page-theme-a & {
						color: $textColorLightTheme;
					}
					.ui-page-theme-b & {
						color: $textColorDarkTheme;
					}
				}
				@media print {
					.ui-page-theme-a &, .ui-page-theme-b & {
						color: $textColorLightTheme;
					}
				}
			}
		}
	}
}

.timeline-container {
	margin-left: 0.75em;
	margin-bottom: 0.25em;
}

.projects-container, .project-item {
	margin-top: 0.25em;
	margin-bottom: 1em;
}

ul, ol, .project-description, .project-description > *:first-child {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

*[title] {
	@media screen {
		&:not(table):not(thead):not(tbody):not(tfoot):not(tr):not(th):not(td):not(button):not(input):not(select) {
			cursor: pointer;
			&:hover {
				border-bottom: 1px dashed;
			}
			.ui-page-theme-b & {
				/*color: hsl(196, 73%, 50%);*/
				color: $linkColorDark;
				&:hover {
					/*color: hsl(196, 100%, 37%);*/
					color: $linkColorDarkHover;
				}
			}
			.ui-page-theme-a & {
				/*color: hsl(207, 60%, 50%);*/
				color: $linkColorLight;
				&:hover {
					/*color: hsl(207, 100%, 30%);*/
					color: $linkColorLightHover;
				}
			}
		}
	}
}

.ui-tooltip {
	pointer-events: none;
	padding: 10px 20px;
	border-radius: 20px;
	font-family: "Helvetica Neue", sans-serif;
	.ui-overlay-b & {
		color: hsl(0, 0%, 100%);
		&.ui-tooltip, & .arrow::after {
			border: 2px solid hsl(0, 0%, 100%);
			box-shadow: 0px 0px 20px hsl(0, 0%, 80%);
			background-color: hsl(0, 0%, 0%);
		}
	}
	.ui-overlay-a & {
		color: hsl(0, 0%, 0%);
		&.ui-tooltip, & .arrow::after {
			border: 1px solid hsl(206, 59%, 80%);
			box-shadow: 0px 0px 7px hsl(0, 0%, 0%);
			background: hsl(204, 24%, 96%) url(images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) 50% top repeat-x;
		}
		& .arrow::after {
			background-position-y: bottom;
		}
	}
	.arrow {
		width: 70px;
		height: 16px;
		overflow: hidden;
		position: absolute;
		left: 50%;
		margin-left: -35px;
		bottom: -16px;
		&::after {
			content: "";
			position: absolute;
			left: 20px;
			top: -20px;
			width: 25px;
			height: 25px;
			transform: rotate(45deg);
		}
		&.left {
			left: 20%;
		}
		&.top {
			top: -16px;
			bottom: auto;
			&::after {
				bottom: -20px;
				top: auto;
			}
		}
	}
}

#theme-toggle-button {
	border-radius: 0.3125em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	height: 100%;
	top: 0;
	box-sizing: border-box;
	width: 2.75em;
	@media print {
		display: none;
	}
}

.ui-page-theme-a,
html .ui-bar-a,
html .ui-body-a,
html body .ui-group-theme-a {
	a {
		&, &:visited {
			color: $linkColorLight;
			&:hover {
				color: $linkColorLightHover;
			}
		}
	}
}

.ui-page-theme-b,
html .ui-bar-b,
html .ui-body-b,
html body .ui-group-theme-b {
	a {
		&, &:visited {
			color: $linkColorDark;
			&:hover {
				color: $linkColorDarkHover;
			}
		}
	}
}

table.skills {
	border-spacing: 0;
	width: 100%;
	margin-top: 0.5em;
	.ui-page-theme-b & {
		border: 1px solid hsl(0, 0%, 33%);
	}
	.ui-page-theme-a & {
		border: 1px solid hsl(0, 0%, 87%);
	}
	caption {
		display: none;
		.text {
			&[data-order-by] {
				&::after {
					content: '(Sorting: ascending by ' attr(data-order-by) ')';
					display: block;
					font-size: 0.8em;
					margin-bottom: 0.25em;
					white-space: pre-wrap;
				}
				&[data-sort-direction]::after {
					content: '(Sorting: ' attr(data-sort-direction) ' by ' attr(data-order-by) ')';
				}
				&[data-filter] {
					&::after {
						content: '(Filter: ' attr(data-filter) ')\A(Sorting: ascending by ' attr(data-order-by) ')';
					}
					&[data-sort-direction]::after {
						content: '(Filter: ' attr(data-filter) ')\A(Sorting: ' attr(data-sort-direction) ' by ' attr(data-order-by) ')';
					}
				}
			}
		}
	}
	th, td {
		padding: 4px;
		vertical-align: top;
	}
	thead {
		tr {
			th {
				text-align: left;
				font-weight: bold;
				&.ui-widget-header {
					.ui-page-theme-a & {
						background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/images/ui-bg_highlight-soft_100_deedf7_1x100.png);
					}
					.ui-page-theme-b & {
						/*background-image: url();*/
					}
				}
				&.sort-by {
					.ui-page-theme-b & {
						border: 1px solid hsl(0, 0%, 27%);
						background-color: hsl(0, 0%, 13%);
						background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-bg_highlight-soft_35_222222_1x100.png);
						background-position: 50% 50%;
						background-repeat: repeat-x;
						color: hsl(0, 0%, 93%);
					}
					.ui-page-theme-a & {
						border: 1px solid hsl(206, 59%, 80%);
						background-color: hsl(205, 74%, 91%);
						background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/images/ui-bg_glass_80_d7ebf9_1x400.png);
						/*background-image: url(images/ui-bg_glass_80_d7ebf9_1x400.png);*/
						background-position: 50% 50%;
						background-repeat: repeat-x;
						color: hsl(202, 63%, 41%);
					}
				}
				&[data-order-by] {
					cursor: pointer;
					> .data {
						margin-right: 20px;
					}
					&:hover, &:focus, &.sort-by {
						> .data {
							position: relative;
							&::after {
								content: '';
								display: block;
								position: absolute;
								width: 16px;
								height: 16px;
								right: 0;
								top: 50%;
								margin-top: -8px;
								margin-right: -20px;
								background-position: 0 -16px;
								@media print {
									content: '\25b4';
									background-image: none;
									top: 0;
									margin-top: -2px;
									margin-right: -1.3em;
								}
							}
						}
					}
					&:hover, &:focus {
						> .data::after {
							.ui-page-theme-b & {
								background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-icons_cccccc_256x240.png);
							}
							.ui-page-theme-a & {
								background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_777777_256x240.png);
							}
						}
					}
					&.sort-by {
						> .data::after {
							.ui-page-theme-b & {
								background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_ffffff_256x240.png);
							}
							.ui-page-theme-a & {
								background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/images/ui-icons_2694e8_256x240.png);
							}
						}
					}
					&:active {
						border: 1px solid hsl(200, 93%, 56%);
						background-color: hsl(200, 90%, 34%);
						background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-bg_highlight-hard_20_0972a5_1x100.png);
						background-position: 50% 50%;
						background-repeat: repeat-x;
						color: hsl(0, 0%, 100%);
						text-shadow: 0px 1px #111111;
						> .data::after {
							.ui-page & {
								background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_ffffff_256x240.png);
							}
						}
					}
				}
				&[data-sort-order="desc"] {
					&:hover, &:focus, &.sort-by {
						> .data::after {
							.ui-page & {
								background-position: -65px -16px;
								@media print {
									content: '\25be';
								}
							}
						}
					}
				}
			}
		}
	}
	tbody tr, thead th[data-order-by] {
		&:hover, &:focus {
			@media screen {
				outline: hsl(217, 99%, 65%) auto 1px;
			}
		}
	}
	tbody {
		td.field-year {
			text-align: right;
		}
		td.ui-widget-content {
			color: inherit;
			.ui-page-theme-b & {
				background-color: $tableBackgroundColorLighter;
			}
		}
	}
	&[data-order-by="name"] tbody tr td.field-name,
	&[data-order-by="level"] tbody tr td.field-level,
	&[data-order-by="experience"] tbody tr td.field-experience {
		.ui-page-theme-b & {
			&:not(.ui-state-hover) {
				background-image: none;
			}
			background-color: adjust-color($tableBackgroundColorLighter, $lightness: -5%);
		}
		.ui-page-theme-a & {
			&:not(.ui-state-hover) {
				background-image: none;
			}
			background-color: hsla(0, 0%, 0%, 0.04);
		}
		@include media-width-max(374) {
			&::after {
				order: 1;
				content: '';
				display: block;
				width: 16px;
				height: 16px;
				background-position: 0 -16px;
				flex: 0 0 auto;
				margin-top: 2px;
				margin-right: 3px;
				/*background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_777777_256x240.png);*/
			}
			.ui-page-theme-a & {
				&::after {
					/*background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/images/ui-icons_2694e8_256x240.png);*/
					background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-icons_222222_256x240.png);
				}
			}
			.ui-page-theme-b & {
				&::after {
					background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_ffffff_256x240.png);
				}
			}
		}
	}
	&[data-sort-order="desc"] {
		&[data-order-by="name"] tbody tr td.field-name,
		&[data-order-by="level"] tbody tr td.field-level,
		&[data-order-by="experience"] tbody tr td.field-experience {
			&::after {
				background-position: -65px -16px;
			}
		}
	}
}

@include media-width-max(374) {
	.tab-panel.final-rendering {
		table.skills {
			display: block;
			thead {
				display: block;
				tr {
					display: table;
					width: 100%;
				}
			}
			tbody {
				display: block;
				tr {
					display: block;
					&[aria-describedby] {
						/*.ui-page-theme-a & {
							background: hsl(206, 74%, 94%) url(images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 45% repeat-x;
							td {
								background-image: none;
								background-color: hsla(0, 0%, 0%, 0);
								background: hsla(0, 0%, 0%, 0);
							}
						}*/
						.ui-page-theme-b & {
							background: hsl(199, 100%, 14%) url(images/ui-bg_highlight-soft_33_003147_1x100.png) 50% 0 repeat-x;
							td {
								background-image: none;
								background-color: hsla(0, 0%, 0%, 0);
							}
						}
					}
				}
				td {
					display: flex;
					justify-content: flex-end;
					&::before {
						order: 2;
						content: attr(data-header) ":";
						box-sizing: border-box;
						display: inline-block;
						vertical-align: top;
						text-align: right;
						padding-right: 0.4em;
						font-weight: bold;
						flex: 0 0 auto;
					}
					&.field-year {
						text-align: left;
					}
					> .data {
						order: 3;
						display: inline-block;
						width: 50%;
						box-sizing: border-box;
						flex: 0 0 auto;
					}
					&:not(:first-child) {
						border-top-style: none;
					}
					&:not(:last-child) {
						border-bottom-style: none;
					}
				}
			}
		}
	}
}
