@import "_common";

@each $break-position in $break-positions {
  @each $break-value in $page-break-values {
    .page-break-#{$break-position}-#{$break-value} {
      page-break-#{$break-position}: $break-value;
      @if index(auto left right, $break-value) {
        break-#{$break-position}: $break-value;
      } @else if $break-value == avoid {
        break-#{$break-position}: avoid-page;
      } @else if $break-value == always {
        break-#{$break-position}: page;
      }
    }
  }
}

@each $break-position in $break-positions {
  @each $break-value in $break-values {
    .break-#{$break-position}-#{$break-value} {
      break-#{$break-position}: $break-value;
      @if index(auto left right, $break-value) {
        page-break-#{$break-position}: $break-value;
      } @else if $break-value == avoid-page {
        page-break-#{$break-position}: avoid;
      } @else if $break-value == page {
        page-break-#{$break-position}: always;
      }
    }
  }
}

body {
  -o-tab-size: 2;
  -moz-tab-size: 2;
  tab-size: 2;
}

*[data-role="page"]:not(.ui-page) {
  display: none;
}

.ui-page.ui-page-active.ui-page-header-fixed {
  a[name]:not([href]) {
    position: relative;
    top: -3.5rem;
  }
}

@media screen {
  .ui-page.ui-page-active {
    &.ui-page-theme-b {
      box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.5);
    }

    padding-bottom: 3em;
  }
}

abbr[title], acronym[title], a {
  &, .ui-page & {
    text-decoration: none;
    font-weight: normal;
  }
}

html.r-explain .ui-page.ui-page-active::after {
  box-sizing: border-box;
  content: 'Mobile browsers often hide a panel here.';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: flex;
  border-top: 1px dashed;
  padding: 0.25rem 0.5rem;
  flex: 1 1 auto;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

#tabs-nav {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 2em;

  label[for="tab-code"] {
    font-family: 'Courier New', monospace;
  }
}

.tab-panel {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  box-sizing: border-box;

  &:not(#tab-panel-skills) {
    border-radius: 1em;

    &.final-rendering {
      @media screen {
        border: 1px solid hsla(0, 0%, 0%, 0);
      }
    }

    .ui-page-theme-a & {
      @media screen {
        &.final-rendering {
          box-shadow: 0px 0px 1.2em 0px hsla(0, 0%, 0%, 0.5);
          border-color: $textColorLightTheme;
        }
      }
    }

    .ui-page-theme-b & {
      &.final-rendering {
        background-color: $tableBackgroundColorLighter;
        border-color: $textColorLightTheme;
      }
    }
  }

  > p:nth-child(-n+2) {
    margin-top: 0;
    text-align: center;
  }

  &:not(.data-loaded) {
    .show-when-data-loaded {
      display: none;
    }
  }
}

#tab-panel-resume.final-rendering {
  padding: 1em;
}

@media screen {
  #tab-panel-resume.final-rendering, #tab-panel-code.data-loaded code.hljs, #tab-panel-skills.final-rendering table.skills {
    .ui-page-theme-a & {
      background: hsl(0, 0%, 98%);
    }
  }
}

#tab-panel-resume, #tab-panel-skills {
  &.final-rendering {
    margin-left: auto;
    margin-right: auto;
  }
}

#tab-panel-skills {
  &:not(.final-rendering) {
    #skill-categories, #skills-table {
      display: none;
    }
  }
}

#skill-categories {
  display: flex;
  flex-wrap: wrap;
}

.relevant-checkbox {
  flex: 1 0 auto;
  max-width: 100%;
}

.select-category-container {
  flex: 42 0 auto;
  max-width: 100%;
}

.ui-select .ui-btn > span:not(.ui-li-count) {
  white-space: normal;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

span.github-link {
  font-size: 0.75em;
  margin-top: 0.5em;
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  border: 1px solid hsla(0, 0%, 0%, 0);

  .ui-page-theme-a & {
    border-color: hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 94%);
  }

  .ui-page-theme-b & {
    background-color: hsl(209, 50%, 30%);
  }
}

code {
  &.snippet {
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5em;
    padding: 1px 0.4em 2px;
    .ui-page-theme-a & {
      background-color: hsl(0, 0%, 93%);
      border-color: hsl(0, 0%, 27%);
    }
    .ui-page-theme-b & {
      background-color: hsl(0, 0%, 48%);
      border-color: hsl(0, 0%, 75%);
    }
  }
}

.code-container {
  .ui-page-theme-a & {
    box-shadow: 0px 0px 0.4em 0px hsla(0, 0%, 0%, 0.7);
  }

  .ui-page-theme-b & {
    box-shadow: 0px 0px 1em 0px hsla(0, 0%, 100%, 0.7);
    text-shadow: 0px 1px 0px #111;
  }

  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;

  code {
    border-radius: inherit;
  }
}

pre.code-container {
  white-space: pre-wrap;
  word-break: break-word;
  border: 1px solid hsla(0, 0%, 0%, 0);

  .ui-page-theme-b & {
    border-color: hsla(0, 0%, 0%, 0.7);
  }

  code {
    > .hljs-comment:nth-child(-n+3) {
      display: none;
    }
  }
}

#categories-button > span:first-child::before {
  content: 'Category: ';
}

.select-code-container {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;*/
  label {
    margin-right: 0.5em;
  }
}

#tab-panel-code {
  .code-container {
    position: relative;
    code {
      position: relative;
      z-index: 1;
    }
    &::before, &::after {
      opacity: 0;
      transition-property: opacity;
    }
    &::before {
      content: 'Loading...';
      position: absolute;
      z-index: 3;
      display: block;
      width: 100%;
      text-align: center;
      top: 0;
      color: $textColorDarkTheme;
      text-shadow: 0 1px 0 $textColorLightTheme;
      font-size: 3em;
    }
    &::after {
      z-index: 2;
      background-color: hsla(0, 0%, 0%, 0.7);
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: inherit;
      margin: -1px;
      @include supports(backdrop-filter, blur(10px)) {
        @include prefix(backdrop-filter, blur(10px));
        .ui-page-theme-a & {
          background-color: hsla(0, 0%, 0%, 0.5);
        }
        .ui-page-theme-b & {
          background-color: hsla(0, 0%, 0%, 0.2);
        }
      }
    }
  }
  &:not(.data-loading) {
    .code-container {
      &::before, &::after {
        transition-delay: 500ms;
        transition-duration: 1000ms;
        transition-timing-function: ease-in;
      }
    }
    &.data-loaded {
      .code-container {
        &::before {
          content: 'Loaded!';
        }
      }
    }
  }
  &.data-loading {
    .code-container {
      &::before, &::after {
        opacity: 1;
        transition-duration: 0ms;
      }
    }
  }
}

#highlight-theme-picker-container {
  display: none;
  justify-content: flex-end;
  align-items: baseline;

  label {
    margin-right: 0.5em;
  }
}

.separator {
  &::before {
    font-weight: bold;
    content: "\A0\2022\A0";
  }
}

.section-heading {
  margin: 1em 0 0.5em;
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: underline;
}

.section-content {
  margin: 0.5em 1em 1em;
}

.header {

}

.ui-header, .ui-footer {
  .ui-title {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.ui-header {
  &.ui-header-fixed {
    @include supports(backdrop-filter, blur(5px)) {
      .ui-page-theme-a &, .ui-page-theme-b & {
        @include prefix(backdrop-filter, blur(5px));
      }
      .ui-page-theme-a & {
        background-color: rgba(233, 233, 233, 0.5);
      }
      .ui-page-theme-b & {
        background-color: rgba(29, 29, 29, 0.5);
      }
    }
  }
  .ui-title[data-short-text] {
    > .text {
      display: none;
    }

    &::before {
      content: attr(data-short-text);
    }

    @media (min-width: 28em) {
      > .text {
        display: inline;
      }
      &::before {
        content: none;
      }
    }
  }
}

@media (min-width: 28em) {
  main.ui-content {
    > .main-inner {
      > .author-name {
        display: none;
      }

      #tabs-nav {
        margin-top: 1em;
      }
    }
  }
}

.skills-legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .skills-legend-level {
    display: grid;
    grid-template-columns: 5em 3em;
    grid-template-areas: "skill-name skill-percentage";
    grid-gap: 1em;

    .skills-legend-level-percentage {
      grid-area: skill-percentage;
      justify-self: flex-end;
    }

    .skills-legend-level-name {
      grid-area: skill-name;
    }
  }
}

.competency-list,
ul.skills.as-list,
ol.skills.as-list,
.certificate-list {
  -webkit-column-width: $columnWidth;
  -moz-column-width: $columnWidth;
  column-width: $columnWidth;
  list-style-type: square;
  > * {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

ul, ol {
  padding-left: 2em;
  &.skills {
    &.as-categories {
      .skills-grouped-by-category {
        .skill {
          display: inline-flex;
          &:not(:last-child) {
            &::after {
              content: ', ';
              .ui-page-theme-a & {
                color: $textColorLightTheme;
              }
              .ui-page-theme-b & {
                color: $textColorDarkTheme;
              }
            }
          }
        }
      }
    }

    .skill-item {
    }

    .skill {
      cursor: default;

      &[aria-describedby] {
        color: hsl(196, 100%, 37%);
      }
    }
  }
}

.skill-category-name {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  &.projects-heading {
    margin-top: 0.33em;
    margin-bottom: 0.33em;
  }
  &.author-name {
    text-align: center;
    margin-top: 0.5em;
  }
}

.author {
  display: flex;
  a {
    &, &:visited {
      text-decoration: none;
    }
  }

  address {
    display: inline;
    font-style: normal;
  }

  .author-contact-info:not(.author-address) {
    white-space: nowrap;
  }
}

.author-contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -0.5em;

  > * {
    margin: 0.5em;
  }

  .author-contact-info {
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;

    > .author-contact-info-label {
      display: flex;

      &::after {
        content: ': ';
        display: block;
        padding-right: 0.5em;
      }

      + .author-contact-info-value {
        font-weight: normal;
      }
    }

    &.author-name {
      font-size: 1.7em;
      min-height: 1.45em;
    }
  }

  .author-contact-left {

  }

  .author-contact-right {

  }

  &.author-contact-layout-list {
    flex-direction: column;
  }
  &.author-contact-layout-split {
    flex-direction: row;
    flex: 1 1 auto;
  }
  &.author-contact-layout-center {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

.certificate {
  display: inline-flex;
  flex-direction: column;

  &[data-issue-year]::after {
    content: '(' attr(data-issue-year) ')';
    font-size: 0.75em;
  }
  &[data-issue-year][data-expire-year]::after {
    content: '(' attr(data-issue-year) ' - ' attr(data-expire-year) ')';
  }
}

.section-content {
  &[data-section="competencies"],
  &[data-section="skills"],
  &[data-section="certifications"] {
    margin-left: 0;
    margin-right: 0;
  }
}

.competency {
  display: inline-flex;
  flex-wrap: wrap;

  > * {
    margin-left: 0.25em;
    margin-right: 0.25em;
    flex: 0 1 auto;
  }

  .competency-duration {
    display: inline-flex;
    flex: 0 0 auto;

    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }
}

.technology-stack-container {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  .position-container > & {
    margin-left: 0.8em;
  }
}

.technology-stack-title {
  font-weight: bold;
}

.position-container {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;

  &:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: -0.5em;
    border-bottom: 1px dashed hsla(0, 0%, 0%, 0.5);

    .ui-page-theme-b & {
        border-bottom-color: hsla(0, 0%, 100%, 0.5);
    }
  }
}

.position-header {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 0.5em;
  page-break-after: avoid;
  break-after: avoid;

  .position-employer {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;

    > *:not(:first-child) {
      margin-left: 0.25em;
    }

    > *:not(:last-child) {
      margin-right: 0.25em;
    }

    > .employer-name {
      font-weight: bold;
      font-size: 1.1em;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .position-info {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  //&::before, &::after {
  //  position: absolute;
  //  left: 0;
  //  right: 0;
  //  margin-left: -1em;
  //  margin-right: -1em;
  //}
  //&::before {
  //  content: '';
  //  display: block;
  //  border-top: 3px double hsl(34, 57%, 70%);
  //  bottom: 100%;
  //  margin-bottom: 0.5em;
  //}
  //&::after {
  //  content: '';
  //  display: block;
  //  border-bottom: 1px solid hsl(34, 57%, 70%);
  //  top: 100%;
  //  margin-left: 0;
  //  margin-right: 0;
  //}
}

.position-title {
  font-style: italic;
}

.position-description {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.projects-container {
  .project-link {
    display: inline-block;
    .project-link-label {
      font-weight: bold;
    }
  }

  .project-heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > .project-title {
      margin-right: 1em;
    }
    > .project-link {
      font-size: 0.95em;
    }
  }

  &.ui-collapsible-set {
    margin-top: 0.3em;

    @media (min-width: 30em) {
      border-radius: 0.3125em;
    }

    .project-item.ui-collapsible {
      margin-left: -2em;
      margin-right: -2em;

      @media (min-width: 30em) {
        margin: -1px 0 0;
        border-radius: 0;

        &.ui-first-child {
          border-top-right-radius: inherit;
          border-top-left-radius: inherit;
        }

        &.ui-last-child {
          border-bottom-left-radius: inherit;
          border-bottom-right-radius: inherit;
        }

        .ui-collapsible-heading .ui-btn {
          border-left-width: 1px;
          border-right-width: 1px;
        }

        .ui-collapsible-content {
          border-left-width: 1px;
          border-right-width: 1px;
        }
      }
    }
  }
  &:not(.ui-collapsible-set) {
    margin-left: 1.2em;
    > .project-item:not(.ui-collapsible) {
      margin-top: 0.25em;
      margin-bottom: 1em;
      padding-left: 1.2em;
    }
    > .project-item.ui-collapsible {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.project-title {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;

  &:not(.ui-collapsible-heading) {
    display: list-item;
  }

  > .ui-collapsible-heading-toggle {
    white-space: normal;
  }

  .project-title-text {
    font-weight: bold;
  }
}

span.project-link.use-brackets a.project-link {
  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }

  &::before, &::after {
    @media screen {
      .ui-page-theme-a & {
        color: $textColorLightTheme;
      }
      .ui-page-theme-b & {
        color: $textColorDarkTheme;
      }
    }
    @media print {
      .ui-page-theme-a &, .ui-page-theme-b & {
        color: $textColorLightTheme;
      }
    }
  }
}

.timeline-container {

}

ul, ol, .project-description, .project-description > *:first-child {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

div.notes {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 0.85em;

  > .notes-header {
    font-weight: bold;
  }
  > .notes-content {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 25px;
    > .note {
      display: list-item;
      position: relative;
      //padding-top: 0.7em;
      //font-size: 0.9em;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
      &[data-note-type] {
        &::before {
          content: '(' attr(data-note-type) ')';
          margin-right: 0.5em;
          font-style: italic;
          font-size: 0.9em;
          //font-family: monospace;
          //position: absolute;
          //top: 0;
          //left: -12px;
        }
      }
      &.note-type-personal {
      }
      &.note-type-technical {
      }
      &.note-type-clarity {
      }
    }
  }
}

@media screen {
  *[title], *[aria-describedby], span.skill, a, time[datetime^="P"] {
    &:not(table):not(thead):not(tbody):not(tfoot):not(tr):not(th):not(td):not(button):not(input):not(select):not(.ui-btn):not([data-no-tooltip]) {
      cursor: pointer;
      /*&:hover, &:focus {
        border-bottom: 1px dashed;
      }*/
      .ui-page-theme-b & {
        /*color: hsl(196, 73%, 50%);*/
        color: $linkColorDark;

        &:hover, &:focus {
          /*color: hsl(196, 100%, 37%);*/
          color: $linkColorDarkHover;
        }
      }

      .ui-page-theme-a & {
        /*color: hsl(207, 60%, 50%);*/
        color: $linkColorLight;

        &:hover, &:focus {
          /*color: hsl(207, 100%, 30%);*/
          color: $linkColorLightHover;
        }
      }
    }
  }
}

.ui-tooltip {
  pointer-events: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: "Helvetica Neue", sans-serif;

  .ui-overlay-b & {
    color: hsl(0, 0%, 100%);

    &.ui-tooltip, & .arrow::after {
      border: 2px solid hsl(0, 0%, 100%);
      box-shadow: 0px 0px 20px hsl(0, 0%, 80%);
      background-color: hsl(0, 0%, 0%);
    }
  }

  .ui-overlay-a & {
    color: hsl(0, 0%, 0%);

    &.ui-tooltip, & .arrow::after {
      border: 1px solid hsl(206, 59%, 80%);
      box-shadow: 0px 0px 7px hsl(0, 0%, 0%);
      background: hsl(204, 24%, 96%) url(images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) 50% top repeat-x;
    }

    & .arrow::after {
      background-position-y: bottom;
    }
  }

  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;

    &::after {
      content: "";
      position: absolute;
      left: 20px;
      top: -20px;
      width: 25px;
      height: 25px;
      transform: rotate(45deg);
    }

    &.left {
      left: 20%;
    }

    &.top {
      top: -16px;
      bottom: auto;

      &::after {
        bottom: -20px;
        top: auto;
      }
    }
  }
}

.ui-header {
  .ui-btn-inline {
    position: absolute;
    top: 0;
    bottom: 0;

    &.ui-btn-left {
      left: 0;
    }

    &.ui-btn-right {
      right: 0;
    }

    &.ui-select {
      margin: 0;
      display: inline-flex;
      > .ui-btn {
        display: inline-flex;
        align-items: center;
      }
    }

    &:not(.ui-select) {
      padding-left: 0.5em;
      padding-right: 0.5em;
      height: auto;
      margin-top: 0;
      box-sizing: border-box;
      width: 2.75em;
      border-style: none;
    }
    @media print {
      display: none;
    }
  }
}

.ui-page-theme-a,
html .ui-bar-a,
html .ui-body-a,
html body .ui-group-theme-a {
  a {
    &, &:visited {
      color: $linkColorLight;

      &:hover {
        color: $linkColorLightHover;
      }
    }
  }
}

.ui-page-theme-b,
html .ui-bar-b,
html .ui-body-b,
html body .ui-group-theme-b {
  a {
    &, &:visited {
      color: $linkColorDark;

      &:hover {
        color: $linkColorDarkHover;
      }
    }
  }
}

table.skills {
  border-spacing: 0;
  width: 100%;
  margin-top: 0.5em;

  .ui-page-theme-b & {
    border: 1px solid hsl(0, 0%, 33%);
    background-color: $tableBackgroundColorLighter;
  }

  .ui-page-theme-a & {
    border: 1px solid hsl(0, 0%, 87%);
  }

  caption {
    display: none;

    .text {
      &[data-order-by] {
        &::after {
          content: '(Sorting: ascending by ' attr(data-order-by) ')';
          display: block;
          font-size: 0.8em;
          margin-bottom: 0.25em;
          white-space: pre-wrap;
        }

        &[data-sort-direction]::after {
          content: '(Sorting: ' attr(data-sort-direction) ' by ' attr(data-order-by) ')';
        }

        &[data-filter] {
          &::after {
            content: '(Filter: ' attr(data-filter) ')\A(Sorting: ascending by ' attr(data-order-by) ')';
          }

          &[data-sort-direction]::after {
            content: '(Filter: ' attr(data-filter) ')\A(Sorting: ' attr(data-sort-direction) ' by ' attr(data-order-by) ')';
          }
        }
      }
    }
  }

  th, td {
    padding: 4px;
    vertical-align: top;
  }

  thead {
    tr {
      th {
        text-align: left;
        font-weight: bold;

        &.sort-by {
          .ui-page-theme-a & {
            border: 1px solid hsl(206, 59%, 80%);
            background-color: hsl(205, 74%, 91%);
            background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/images/ui-bg_glass_80_d7ebf9_1x400.png);
            background-position: 50% 50%;
            background-repeat: repeat-x;
            color: hsl(202, 63%, 41%);
          }

          .ui-page-theme-b & {
            /*border: 1px solid hsl(0, 0%, 27%);*/
            /*background-color: hsl(0, 0%, 13%);*/
            /*background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-bg_highlight-soft_35_222222_1x100.png);*/
            /*background-position: 50% 50%;*/
            /*background-repeat: repeat-x;*/
            /*color: hsl(0, 0%, 93%);*/
            background: hsl(199, 100%, 14%) url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-bg_highlight-soft_33_003147_1x100.png) 50% 50% repeat-x;
          }

          > .data::after {
            .ui-page-theme-a & {
              background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/images/ui-icons_2694e8_256x240.png);
            }

            .ui-page-theme-b & {
              background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_ffffff_256x240.png);
            }
          }
        }

        &[data-order-by] {
          cursor: pointer;

          > .data {
            margin-right: 20px;
          }

          &:hover, &:focus, &:active, &.sort-by {
            > .data {
              position: relative;

              &::after {
                content: '';
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                right: 0;
                top: 50%;
                margin-top: -8px;
                margin-right: -20px;
                background-position: 0 -16px;
                @media print {
                  content: '\25b4';
                  background-image: none;
                  top: 0;
                  margin-top: -2px;
                  margin-right: -1.3em;
                }
              }
            }
          }

          &:hover, &:focus {
            .ui-page-theme-a & {
              border: 1px solid hsl(206, 81%, 53%);
              background: hsl(200, 75%, 56%) url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/images/ui-bg_glass_50_3baae3_1x400.png) 50% 50% repeat-x;
              color: hsl(0, 0%, 100%);
              text-shadow: 0px 1px hsl(0, 0%, 0%);
            }

            .ui-page-theme-b & {
              border: 1px solid hsl(200, 90%, 44%);
              background: hsl(199, 100%, 14%) url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-bg_highlight-soft_33_003147_1x100.png) 50% 50% repeat-x;
              color: hsl(0, 0%, 100%);
              text-shadow: 0px 1px hsl(0, 0%, 0%);
            }

            > .data::after {
              .ui-page-theme-a & {
                /*background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_777777_256x240.png);*/
                background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_ffffff_256x240.png);
              }

              .ui-page-theme-b & {
                background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-icons_cccccc_256x240.png);
              }
            }
          }
        }

        &[data-sort-order="desc"] {
          &:hover, &:focus, &:active, &.sort-by {
            > .data::after {
              .ui-page & {
                background-position: -65px -16px;
                @media print {
                  content: '\25be';
                }
              }
            }
          }
        }

        &.ui-widget-header {
          .ui-page-theme-a & {
            background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/images/ui-bg_highlight-soft_100_deedf7_1x100.png);
          }

          .ui-page-theme-b & {
            /*background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-bg_highlight-soft_44_444444_1x100.png);*/
            /*background-color: hsl(0, 0%, 27%);*/
            /*background-position: 50% 50%;*/
            /*background-repeat: repeat-x;*/
            border: 1px solid hsl(0, 0%, 20%);
            color: hsl(0, 0%, 100%);
            background: hsl(199, 100%, 14%) url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-bg_highlight-soft_35_222222_1x100.png) 50% 50% repeat-x;
          }

          .ui-page & {
            &:active {
              border: 1px solid hsl(200, 93%, 56%);
              /*background-color: hsl(200, 90%, 34%);*/
              /*background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-bg_highlight-hard_20_0972a5_1x100.png) !important;*/
              /*background-position: 50% 50%;*/
              /*background-repeat: repeat-x;*/
              background: hsl(199, 100%, 14%) url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-bg_highlight-hard_20_0972a5_1x100.png) 50% 50% repeat-x;
              color: hsl(0, 0%, 100%);
              text-shadow: 0px 1px #111111;

              > .data::after {
                background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_ffffff_256x240.png);
              }
            }
          }
        }
      }
    }
  }

  tbody tr, thead th[data-order-by] {
    &:hover, &:focus, &:active {
      @media screen {
        outline: hsl(217, 99%, 65%) auto 1px;
      }
    }
  }

  tbody {
    td.field-year {
      text-align: right;
    }

    td.ui-widget-content {
      &:not(.ui-state-hover) {
        color: inherit;
        background: inherit;
      }
    }
  }

  &[data-order-by="name"] tbody tr td.field-name,
  &[data-order-by="experience.level"] tbody tr td.field-experience-level,
  &[data-order-by="experience"] tbody tr td.field-experience {
    .ui-page-theme-b & {
      &:not(.ui-state-hover) {
        background-image: none;
      }

      background-color: adjust-color($tableBackgroundColorLighter, $lightness: -5%);
    }

    .ui-page-theme-a & {
      &:not(.ui-state-hover) {
        background-image: none;
      }

      background-color: hsla(0, 0%, 0%, 0.04);
    }

    @include media-width-max(374) {
      &::after {
        order: 1;
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-position: 0 -16px;
        flex: 0 0 auto;
        margin-top: 2px;
        margin-right: 3px;
        /*background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_777777_256x240.png);*/
      }
      .ui-page-theme-a & {
        &::after {
          /*background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/images/ui-icons_2694e8_256x240.png);*/
          background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/images/ui-icons_222222_256x240.png);
        }
      }
      .ui-page-theme-b & {
        &::after {
          background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_ffffff_256x240.png);
        }
      }
    }
  }

  &[data-sort-order="desc"] {
    &[data-order-by="name"] tbody tr td.field-name,
    &[data-order-by="level"] tbody tr td.field-level,
    &[data-order-by="experience"] tbody tr td.field-experience {
      &::after {
        background-position: -65px -16px;
      }
    }
  }
}

@include media-width-max(374) {
  .tab-panel.final-rendering {
    table.skills {
      display: block;

      thead {
        display: block;

        tr {
          display: table;
          width: 100%;
        }
      }

      tbody {
        display: block;

        tr {
          display: block;

          &[aria-describedby] {
            /*.ui-page-theme-a & {
              background: hsl(206, 74%, 94%) url(images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 45% repeat-x;
              td {
                background-image: none;
                background-color: hsla(0, 0%, 0%, 0);
                background: hsla(0, 0%, 0%, 0);
              }
            }*/
            .ui-page-theme-b & {
              background: hsl(199, 100%, 14%) url(images/ui-bg_highlight-soft_33_003147_1x100.png) 50% 0 repeat-x;

              td {
                background-image: none;
                background-color: hsla(0, 0%, 0%, 0);
              }
            }
          }
        }

        td {
          display: flex;
          justify-content: flex-end;

          &::before {
            order: 2;
            content: attr(data-header) ":";
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            text-align: right;
            padding-right: 0.4em;
            font-weight: bold;
            flex: 0 0 auto;
          }

          &.field-year {
            text-align: left;
          }

          > .data {
            order: 3;
            display: inline-block;
            width: 50%;
            box-sizing: border-box;
            flex: 0 0 auto;
          }

          &:not(:first-child) {
            border-top-style: none;
          }

          &:not(:last-child) {
            border-bottom-style: none;
          }
        }
      }
    }
  }
}
